.login-container {
  max-width: 400px;
  margin: 100px auto; /* Center the container vertically */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center the heading text */
}

.login-container input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.login-container button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make the button span the full width */
}

.login-container button:hover {
  background-color: #0056b3;
}

.signup-link {
  display: block;
  text-align: center;
  font-size: 16px;
  color: black;
  margin-top: 20px; /* Increased margin */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
